<a href="https://colab.research.google.com/github/JoMihye/Python/blob/main/python10_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

dict:

*  사전(dictionary) 형식의 데이터 타입
*  키(key)를 기반으로 값(value)을 저장하는 데이터 타입
    *  list, tuple: 인덱스(index)를 기반으로 값들을 저장하는 데이터 타입.
    *  dict 타입에서 key의 역할은 list나 tuple에서의 인덱스와 마찬가지로, dict에 저장되어 있는 유일한 1개의 값을 참조하기 위한 용도.
        *  dict에서 key는 중복된 값을 허용하지 않음.

In [ ]:
students = {100: '홍길동', 101: '오쌤', 200: 'Scott'}  # {key: value}
print(students)
print(type(students))

{100: '홍길동', 101: '오쌤', 200: 'Scott'}
<class 'dict'>

## dict의 메서드

In [ ]:
students.keys()  # dict.keys(): dict가 가지고 있는 키(key)들의 리스트.

dict_keys([100, 101, 200])

In [ ]:
students.values()  # dict.values(): dict가 가지고 있는 값(value)들의 리스트.

dict_values(['홍길동', '오쌤', 'Scott'])

In [ ]:
students.items()  # dict.items(): (key, value) 튜플들의 리스트.

dict_items([(100, '홍길동'), (101, '오쌤'), (200, 'Scott')])

In [ ]:
students.get(100)  # dict.get(key): key에 해당하는 value를 리턴.

'홍길동'

In [ ]:
students[100]  # get() 메서드의 역할을 인덱스 연산자([])로 할 수 있음.

'홍길동'

## dict의 아이템 추가/변경/삭제

In [ ]:
students
# 코드 셀에서 가장 마지막 라인이 식(또는 변수)이면 그 값이 콘솔창에 자동으로 출력됨.

{100: '홍길동', 101: '오쌤', 200: 'Scott'}

In [ ]:
# dict[new_key] = new_value: 키에 해당하는 값을 추가.
students[300] = '홍길동'
students

{100: '홍길동', 101: '오쌤', 200: 'Scott', 300: '홍길동'}

In [ ]:
# dict[key] = new_value: 기존 키의 값을 새로운 값으로 변경.
students[100] = '김길동'
students

{100: '김길동', 101: '오쌤', 200: 'Scott', 300: '홍길동'}

In [ ]:
students.pop(101)  # dict.pop(key): key에 해당하는 아이템을 삭제.
students

{100: '김길동', 200: 'Scott', 300: '홍길동'}

## dict와 for 반복문

In [ ]:
book = {'title': '파이썬 라이브러리 데이터 분석', 
        'author' : '웨스 매키니',
        'price': 35_000}
book

{'author': '웨스 매키니', 'price': 35000, 'title': '파이썬 라이브러리 데이터 분석'}

In [ ]:
for k in book:
    print(k)
# for-in 구문에서 dict를 사용하면 key에 대해서 iteration(순회, 반복)을 수행함.

title
author
price

In [ ]:
# for-in 구문으로 dict의 key와 value를 모두 출력
for k in book:
    print(k, ':', book[k])

title : 파이썬 라이브러리 데이터 분석
author : 웨스 매키니
price : 35000

In [ ]:
for k, v in book.items():
    print(k, ':', v)

title : 파이썬 라이브러리 데이터 분석
author : 웨스 매키니
price : 35000

## 다양한dict

In [ ]:
contact = {'name': '오쌤', 
           'phone': ['010-1111-2222', '02-1234-5678'],
           'group': 1,
           'email': {'company': 'jake@itwill.co.kr', 'personal': 'jake@gmail.com'}
           }
contact

{'email': {'company': 'jake@itwill.co.kr', 'personal': 'jake@gmail.com'},
 'group': 1,
 'name': '오쌤',
 'phone': ['010-1111-2222', '02-1234-5678']}

In [ ]:
# contact에서 이름 출력
contact['name']

'오쌤'

In [ ]:
# contact에서 전화번호 출력
print(contact['phone'])
print(contact['phone'][0])

['010-1111-2222', '02-1234-5678']
010-1111-2222

In [ ]:
# contact에서 이메일 출력
print(contact['email'])
print(contact['email']['company'])

{'company': 'jake@itwill.co.kr', 'personal': 'jake@gmail.com'}
jake@itwill.co.kr

In [ ]:
employees = {
    'emp_no': [101, 102, 103, 105],
    'emp_name': ['aaa', 'bbb', 'ccc', 'ddd'],
    'sal': [100, 200, 150, 500],
    'dept_no': [10, 10, 20, 30]
}
employees

{'dept_no': [10, 10, 20, 30],
 'emp_name': ['aaa', 'bbb', 'ccc', 'ddd'],
 'emp_no': [101, 102, 103, 105],
 'sal': [100, 200, 150, 500]}

In [ ]:
# 직원들의 이름만 출력: select emp_name from emplotees
employees['emp_name']

['aaa', 'bbb', 'ccc', 'ddd']

## dictionary comprehension

In [ ]:
stu_no = [101, 201, 302]  # 학번들의 리스트
stu_name = ['홍길동', '허균', '오쌤']  # 학생 이름들의 리스트

# 학번을 key로 하고, 이름을 value로 하는 dict를 만듦.
students = {}  # "학번: 이름"을 아이템으로 저장할 빈 사전(dictionary)
for k, v in zip(stu_no, stu_name):
    students[k] = v

print(students)

{101: '홍길동', 201: '허균', 302: '오쌤'}

In [ ]:
# dict_name = {key: value for ... in ...}
students2 = {k: v for k, v in zip(stu_no, stu_name)}
students2

{101: '홍길동', 201: '허균', 302: '오쌤'}

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'pineapple', 'watermelon', '딸기']

# 과일의 이름을 key로 하고, 이름의 길이를 value로 하는 사전(dictionary)을 만듦.
fruit_lengths = {}
for x in fruits:
    fruit_lengths[x] =len(x)
print(fruit_lengths)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10, '딸기': 2}

In [ ]:
fruit_lengths2 = {x: len(x) for x in fruits}
fruit_lengths

{'apple': 5,
 'banana': 6,
 'cherry': 6,
 'pineapple': 9,
 'watermelon': 10,
 '딸기': 2}