<a href="https://colab.research.google.com/github/JoMihye/Python/blob/main/python13_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Default Argument

Default argument(기본 인수):

*  함수를 정의할 때 parameter에 설정하는 기본값.
    *  default parameter(기본 매개변수): 기본값을 가지고 있는 파라미터.
*  함수를 호출할 때 default parameter에 값을 전달하지 않으면, default argument가 사용됨.
*  함수를 호출할 때 default parameter에 값을 전달하면, default argument는 무시되고 전달한 값이 사용됨.

In [ ]:
def repeat_message(message, n=1):
    for _ in range(n):
        print(message)

In [ ]:
repeat_message('안녕하세요')

안녕하세요

In [ ]:
repeat_message('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

(주의)

함수를 정의할 때 default parameter(기본값을 갖는 파라미터)는 기본값을 갖지 않는 파라미터들 뒤에 선언해야 함!

In [ ]:
def test(x, y=1):
    pass

In [ ]:
def test2(x=1, y):
    pass

# Argument 전달 방법

함수를 호출할 때, 값(argument)를 전달하는 방법:

*  positional argument: 함수에 선언된 파라미터 순서대로 argument들을 전달하는 방법.
*  keyword argument: `param_name=value`와 같은 형식으로 argument들을 전달하는 방법.
    *  keyword argument 방법을 사용할 때는 함수에 선언된 파라미터 순서를 지키지 않아도 괜찮음.
*  (주의) 함수를 호출할 때 positional 방식과 keyword 방식을 함께 사용하는 경우에는, positional argument를 먼저 사용하고 keyword argument는 뒤에 사용해야 함.

In [ ]:
def subtract(x, y):
    return x - y

In [ ]:
subtract(1, 2)  # positional argument 방식의 함수 호출

-1

In [ ]:
subtract(x=1, y=2)  # keyword argument 방식의 함수 호출

-1

In [ ]:
subtract(y=2, x=1)  # keyword 방식에서는 파라미터 순서를 지키지 않아도 괜찮음

-1

In [ ]:
subtract(1, y=2)  # positional과 keyword 방식을 함께 사용.

-1

In [ ]:
subtract(x=1, 2)  # positional 방식이 keyword 방식보다 뒤에 사용되면 (문법) 에러 발생.

SyntaxError: ignored

In [ ]:
print(1, 2, sep=',')

1,2

In [ ]:
print(1, sep=',', 2)

SyntaxError: ignored

# 가변길이 인수(Variable-length Argument)

가변길이 인수:

*  함수 argument의 개수가 임의로 변할 수 있는 것. 함수를 호출할 때 argument를 몇 개를 전달해도 됨.
    *  argument를 한 개도 전달하지 않아도 됨.
*  함수를 정의할 때, 파라미터 앞에 `*`를 사용하면 가변길이 인수를 의미함.
*  함수 내부에서 가변길이 인수는 튜플 취급을 함.
    *  가변길이 인수는 인덱스를 가지고 있음.
    *  가변길이 인수는 `for-in` 구문에서 사용할 수 있음.
*  가변길이 인수는 keyword argumnet 방식으로는 전달할 수 없음.
*  함수를 정의할 때 가변길이 인수를 갖는 파라미터는 오직 1개만 선언할 수 있음.

In [ ]:
print('hello')  # print() 함수에게 argument를 1개 전달.
print()  # print() 함수에게 argument를 1개도 전달하지 않음.
print('hello', 'python')  # print() 함수에게 argument를 2개 전달.

In [ ]:
def add_all(*values):
    """argument로 전달된 모든 숫자들의 합을 계산해서 리턴.
    argument가 없는 경우 0을 리턴.
    """
    total = 0  # 전달받은 모든 값들을 순서대로 더해나갈 변수.
    for x in values:  # 가변길이 인수 values는 튜플이므로 반복문을 사용할 수 있음.
        total += x  # values의 값을 차례로 더해나감.
    
    return total

In [ ]:
add_all(1, 3, 5)

9

In [ ]:
add_all(10,20)

30

In [ ]:
add_all()

0

In [ ]:
def fn_test(x, *y):
    print('x =', x)
    print('y =', y)

In [ ]:
# 파라미터 x: 반드시 값이 1개 전달되어야 하는 파라미터.
# 파라미터 y: 전달되는 값의 개수의 제한이 없는 파라미터.
fn_test(1, 2, 3)

x = 1
y = (2,)

In [ ]:
def fn_test2(*x, *y)
    pass
# 가변길이 인수를 2개 이상 선언할 수는 없음!

SyntaxError: ignored

In [ ]:
def calculate(*values, op):
    """op가 '+'인 경우에는 모든 값들(values)의 합을 리턴하고,
    op가 '*'인 경우에는 모든 값들(values)의 곱을 리턴하고,
    op가 '+' 또는 '*'가 아닌 경우에는 ValueError를 발생시킴.
    값들(values)이 하나도 전달되지 않은 경우, op='+' 이면 0을 리턴하고 op='*' 이면 1을 리턴.
    """
    if op == '+':
        result = 0
        for x in values:
            result += x
    elif op == '*':
        result = 1
        for x in values:
            result *= x
    else:
        raise ValueError('op는 + 또는 *만 가능합니다.')
        
    return result

In [ ]:
# 1부터 5까지 합을 출력
calculate(1, 2, 3, 4, 5, op = '+')

15

In [ ]:
# 1부터 5까지 곱을 출력
calculate(1, 2, 3, 4, 5, op = '*')

120

In [ ]:
print(1, 2, 3, 4, 5, ',')
print(1, 2, 3, 4, 5, sep='--')

1 2 3 4 5 ,
1--2--3--4--5

In [ ]:
# '+', '*'가 아닌 경우 에러 발생
calculate(1, 2, 3, op = '%')

ValueError: ignored

# 가변길이 키워드 인수(variable-length keyword argument)

가변길이 키워드 인수:

*  함수를 정의할 때 파라미터 이름 앞에 `**`를 사용함.
*  함수를 호출할 때 `param1=value1, param2=value2, ...`와 같은 형식으로
argument들을 전달함.
    *  가변길이이기 때문에 전달하는 argument 개수에는 제한이 없음.
    *  키워드 인수이기 때문에 파라미터 이름을 명시해야 함.
        *  가변길이 키워드 인수에서는 파라미터 이름을 자유롭게 전달할 수 있음.
*  함수 내부에서 가변길이 키워드 인수는 dict 타입 변수로 취급함.
    *  가변길이 키워드 인수의 파라미터 이름이 dict의 key가 됨.
    *  가변길이 키워드 인수의 값이 dict의 value가 됨.
*  가변길이 키워드 인수는 함수에서 1개만 선언 가능.

In [ ]:
def fn_test3(**kwargs):
    print(kwargs)

In [ ]:
fn_test3()
#> 함수를 호출할 때 값을 하나도 전달하지 않으면, 가변길이 키워드 인수는 빈 dict.

{}

In [ ]:
fn_test3(x=1, name='오쌤', phones=['010-', '02-'])

{'x': 1, 'name': '오쌤', 'phones': ['010-', '02-']}

In [ ]:
def fn_test4(*args, **kwargs):
    print('args:', args)
    print('kwargs:', kwargs)

In [ ]:
fn_test4(1, 2, 3, 4, x=1, y=2)

args: (1, 2, 3, 4)
kwargs: {'x': 1, 'y': 2}

# 함수 작성 연습

## Ex 1.

0부터 자연수 n까지의 합을 리턴하는 함수.

In [ ]:
def sum_to(n):
    """1 + 2 + 3 + ... + n의 결과를 리턴."""
    result = 0
    for x in range(1, n + 1):
        result += x

    return result

In [ ]:
sum_to(5)  # positional argument

15

In [ ]:
sum_to(n=10)  # keyword argument

55

## Ex 2.

0부터 자연수 n까지 숫자들의 제곱의 합을 리턴.

In [ ]:
def square_sum_to(n):
    """1^2 + 2^2 + 3^2 + ... + n^2의 결과를 리턴."""
    result = 0
    for x in range(1, n + 1):
        result += x ** 2

    return result

In [ ]:
square_sum_to(3)

14

In [ ]:
square_sum_to(n=5)

55