<a href="https://colab.research.google.com/github/JoMihye/Python/blob/main/python02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Type(자료 타입)



*   숫자 타입
    * 정수(int)
    * 실수(float)
*   문자열(str)
*   논리 타입(bool): True 또는 False 두 가지 상태를 저장하는 변수.

## 숫자 타입

In [ ]:
n = 100  # 변수 = 값
print(type(n))  # 변수 n 의 자료 타입을 출력
print('n =', n)

<class 'int'>
n = 100

In [ ]:
n = 3.14
print(type(n))
print('n =', n)

<class 'float'>
n = 3.14

## 문자열 타입

In [ ]:
s = '안녕하세요.'
print(type(s))
print(s)

<class 'str'>
안녕하세요.

파이썬에서 문자열은 작은 따옴표('')와 큰 따옴표("")를 모두 사용할 수 있음.

아래의 두 문장은 같은 문장.

```
s = 'hello'
s = "hello"
```

## 논리 타입

In [ ]:
b = False # 파이썬의 예약어(keyword)는 대소문자를 구분함!
print(type(b))
print(b)

<class 'bool'>
False

In [ ]:
x = 5
result = x > 0
print(result)

True

## 명시적 타입 변환(explicit type conversion/casting)

*  `int(값)`: 값을 정수로 변환해서 리턴하는 함수.
*  `float(값)`: 값을 실수로 변환해서 리턴하는 함수.
*  `str(값)`: 값을 문자열로 변환해서 리턴하는 함수.

In [ ]:
n_str_1 = '123'
n_str_2 = '100'
print(type(n_str_1))  #> 변수 n_str_1에 저장된 값의 자료 타입은 str(문자열)
print(n_str_1 + n_str_2)  #> 문자열 + 문자열 => 문자열 이어붙이기(concatenate)

<class 'str'>
123100

In [ ]:
n1 = int(n_str_1)  #> 변수 n_str_1에 저장된 값을 정수로 변환해서 변수 n1에 저장.
n2 = int(n_str_2)
print(type(n1))
print(n1 + n2)  #> 정수 + 정수 => 숫자들의 덧셈.

<class 'int'>
223

In [ ]:
pi = '3.14'
print(type(pi))
pi = float(pi)  #> 변수 pi에 저장된 값을 실수(float) 타입으로 변환해서 다시 변수 pi에 저장.
print(type(pi))

<class 'str'>
<class 'float'>

In [ ]:
number = input('숫자를 입력하세요>>> ')
number = float(number)
print(type(number))

숫자를 입력하세요>>> 100
<class 'float'>

In [ ]:
number = float(input('숫자를 입력하세요>>> '))
print(type(number))

숫자를 입력하세요>>> 3.14
<class 'float'>

# 연산자(Operator)

## 산술 연산자(arithemtic operators)

*  종류: `+, -, *, /, **, //, %`
*  일반적으로 숫자 타입(int, float)의 값에서 사용 가능.

In [ ]:
x, y = 10, 3

print(f'{x} + {y} = {x + y}')
print(f'{x} - {y} = {x - y}')
print(f'{x} * {y} = {x * y}')
print(f'{x} / {y} = {x / y}')
print(f'{x}의 {y} 거듭제곱 = {x ** y}')
print(f'{x}를 {y}로 나눈 몫 = {x // y}')
print(f'{x}를 {y}로 나눈 나머지 = {x % y}')

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10의 3 거듭제곱 = 1000
10를 3로 나눈 몫 = 3
10를 3로 나눈 나머지 = 1

문자열(str) 타입에서 사용할 수 있는 산술 연산자:

*  `+`: concatenate. 문자열 이어 붙이기. `str + str`.
*  `*`: replicate. 문자열을 곱한 숫자만큼 복제하기. `str * int, int * str`.

In [ ]:
print('Hello' + 'Python')

HelloPython

In [ ]:
print('Hello' * 5)

HelloHelloHelloHelloHello

bool 타입의 값들을 산술 연산을 할 때는 True는 1, False는 0으로 자동 변환된 후
산술 연산이 수행됨.

In [ ]:
print(True + True)

2

In [ ]:
(True + True + True + False + True) / 5
# (1 + 1 + 1 + 0 + 1) / 5

0.8

## 비교 연산자와 논리 연산자

*  비교 연산자: `==, !=, >, >=, <, <=`, ...
*  논리 연산자: `and, or, not`

In [ ]:
x = 100

print(x == 100)
print(x != 100)
print(x > 0)
print(x < 0)

True
False
True
False

In [ ]:
print((x > 50) and (x < 150))  # 50 < x < 150
print((x < 100) or (x < 0))
print(not (x > 100))  # x <= 100

True
False
True

## 할당 연산자, 복합 할당 연산자

*  `=`: 할당 연산자. 왼쪽의 값을 오른쪽의 변수에 저장.
*  복합 할당 연산자: 산술 연산자와 할당 연산자가 합쳐서 만들어진 연산자.
  * `+=, -=, *=, /=, //=, %=, ...`

In [ ]:
x = 1  # 정숫값 1을 변수 x에 저장(할당).
x += 1  # (1) x+1, (2) 결과를 변수 x에 저장(할당).
# x = x + 1
print(x)

2