<a href="https://colab.research.google.com/github/JoMihye/Python/blob/main/python12_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

*  함수(**function**): 기능을 수행하는 코드 블록.
*  인수(**argument**): 함수가 기능을 수행하기 위해서 값이 필요한 경우, 함수를 호출할 때 함수에게 전달하는 값(들).
*  매개변수(**parameter**): 함수를 호출할 때 전달하는 값들(argument) 저장하기 위해서 함수를 정의할 때 선언하는 변수.
*  반환 값(**return value**): 함수가 기능을 수행한 후에 그 결과로 함수를 호출한 곳으로 반환해 주는 값.
    *  반환 값이 있는 함수도 있고, 반환값이 없는 함수도 있음.

In [ ]:
result = len([1, 2, 3, 4, 5])
print(result)

# 함수: len
# argument: [1, 2, 3, 4, 5] -> parameter에 저장되는 값.
# 함수 호출: len([1, 2, 3, 4, 5])
# 반환값: 5

5

In [ ]:
result = print('안녕하세요.')
print(result)

# 함수: print
# argument: '안녕하세요.'
# 함수 호출: print('안녕하세요.')
# 반환값: None - print 함수는 기능 수행 중에 아무런 값도 반환하지 않음.

안녕하세요.
None

# 함수 정의 방법


```
def function_name([param, ...]):
    ["""문서화 주석(documentation): 함수에 대한 설명"""]
    함수가 수행하는 기능을 코드 블록 작성
    [return 반환값]
```

In [ ]:
def subtract(x, y):
    """숫자 2개(x, y)를 전달받아서, x-y 결과를 반환."""
    return x - y

In [ ]:
result = subtract(1, 2)
print(result)

-1

In [ ]:
result = subtract(2,1)
print(result)

1

In [ ]:
# del
#> 변수나 함수 삭제 (사용자 정의 함수 한정)

In [ ]:
def add(x, y):
    """두 숫자 x + y의 결과를 반환."""
    return x + y

In [ ]:
add(1, 3)

4

In [ ]:
# 2개 이상의 값을 반환하는 함수
def plus_and_minus(x, y):
    """2개 숫자의 x + y 값과 x - y 값을 반환."""
    return x + y, x - y

In [ ]:
result = plus_and_minus(1, 2)
print(result)  # 리턴되는 값은 2개 원소를 갖는 tuple

(3, -1)

In [ ]:
a, b = plus_and_minus(1, 2)  # tuple decomposition(분해): a, b = (3, -1)
print(a, b)

3 -1

## 값을 반환하지 않는 함수

In [ ]:
def repeat_message(message, n):
    """message를 n번 반복해서 출력.
    
    @param message: str.
    @param n: int. 0 또는 양의 정수.
    @return: None
    """

    for _ in range(n):
        print(message)

    return None
    # 반환값이 없는 함수인 경우, 보통 return None 문장은 생략함.

In [ ]:
repeat_message('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

In [ ]:
repeat_message('Hello, Python!', 5)
print('함수 호출 끝')

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
함수 호출 끝

## 함수 정의 연습

In [ ]:
import random

*  함수 이름: make_list
*  기능: [start, end) 범위의 정수 난수 n개를 갖는 리스트를 반환.

In [ ]:
def make_list(start, end, n):
    numbers = []  # n개의 난수를 저장할 빈 리스트
    for _ in range(n):  # n번 반복하면서
        # [start, end) 범위의 정수 난수를 리스트에 추가
        numbers.append(random.randrange(start, end))

    return numbers

In [ ]:
make_list(0, 100, 10)

[50, 33, 81, 72, 78, 22, 51, 20, 73, 91]

In [ ]:
make_list(0, 10, 5)

[5, 0, 3, 0, 1]

*  식(expression): 값(literal), 연산의 결과, 함수 호출 결과
    * 1, 'hello'
    * 1 + 2, 1 > 2
*  문장(statement): 가장 작은 코드 실행 단위.
    *  x = 1
    *  print(x)
*  식(expression)은 문장(statement)의 일부가 됨.
    *  `result = '짝수' if x % 2 == 0 else '홀수'`

*  Jupyter notebook: 코드 셀, 콘솔, 텍스트 셀
    *  Jupyter notebook의 편의 기능 중에, 코드 셀에서 가장 마지막 줄이 식(expression)인 경우 그 식을 평가(계산)해서 그 값을 콘솔 창에 출력해줌.
    *  코드 셀의 가장 마지막이 아닌 줄에 문장이 아니라 식이 있으면, 그 식의 결과는 출력이 되지 않음.

In [ ]:
print(1 + 2)  # 식 1 + 2의 결과를 출력하세요.

3

In [ ]:
1 + 3  # 식 1 + 3

4

In [ ]:
1 + 2  # 식
1 + 3  # 식
1 + 4  # 식

5

In [ ]:
print(1 + 2)  # 문장
print(1 + 3)  # 문장
1 + 4

3
4

5

In [ ]:
result = sum([1, 2, 3, 4, 5])  # sum() 함수의 호출 결과를 변수 result에 저장하세요.
# print(result)  # 변수 result에 저장된 값을 출력하세요.
result  # 식

15

In [ ]:
sum([1, 2, 3, 4])

10

*  함수 이름: word_count
*  기능: 문자열들을 원소로 갖는 리스트를 전달받아서, 리스트에 문자열이 몇 번 등장하는지를 key와 value로 갖는 dictionary를 리턴.

```
result = word_count(['list', 'dict', 'list', 'tuple', 'tuple', 'tuple'])
print(result)

>>> {'list': 2, 'dict': 1, 'tuple': 3}
```

In [ ]:
counts = {}
print(counts)

counts['list'] = 1
print(counts)

counts['dict'] = 1
print(counts)

counts['list'] += 1
print(counts)

{}
{'list': 1}
{'list': 1, 'dict': 1}
{'list': 2, 'dict': 1}

In [ ]:
def word_count(array):
    counts = {}  # 문자열을 키로 하고 문자열의 등장 횟수를 값으로 하는 하는 dict를 만들기 위해서
    for x in array:  # argument로 전달된 리스트에서 문자열을 하나씩 꺼내면서 반복
        if x in counts:  # 리스트의 문자열이 dict에 있으면(dict의 키로 존재하면)
            counts[x] += 1  # 문자열의 등장 횟수를 1 증가
        else:   # 리스트의 문자열이 dict에 없으면(dict의 키로 존재하지 않으면)
            counts[x] = 1  # 문자열이 처음 등장한 경우이므로, 등장 횟수는 1
    return counts

In [ ]:
word_count(['list', 'dict', 'list', 'tuple', 'tuple', 'tuple'])

{'dict': 1, 'list': 2, 'tuple': 3}

In [ ]:
word_count(['a', 'b', 'b', 'c', 'd', 'd', 'd'])

{'a': 1, 'b': 2, 'c': 1, 'd': 3}

In [ ]:
d = {'a': 1, 'b': 2}
print(d.keys())
for k in d.keys():
    print(k)
print()
for k in d:
    print(k, d[k])

dict_keys(['a', 'b'])
a
b

a 1
b 2

In [ ]:
counts = {'list': 1}
try:  # 무조건 시도
    counts['list'] += 1  # 에러가 발생하지 않는 경우(dict에 'list'라는 키가 있는 경우)
except:  # 시도(try)하다가 에러가 발생하면(dict에 'list'라는 키가 없는 경우)
    counts['list'] = 1  # 단어가 처음 등장하는 경우이므로 값을 1로 설정
print(counts)

{'list': 2}

In [ ]:
def word_count2(str_list):
    counts = {}
    for x in str_list:
        try:
            counts[x] += 1
        except:
            counts[x] = 1
    return counts

In [ ]:
word_count2(['list', 'dict', 'list', 'tuple', 'tuple', 'tuple'])

{'dict': 1, 'list': 2, 'tuple': 3}

In [ ]:
str_list = ['list', 'dict', 'list', 'tuple', 'tuple', 'tuple']
str_list.count('tuple')  # str_list 리스트에서 'tuple' 원소가 몇 번 등장하는 지를 리턴.

3

In [ ]:
def word_count3(str_list):
    counts = {}
    for x in str_list:
        counts[x] = str_list.count(x)
    return counts

In [ ]:
word_count3(['a', 'b', 'b', 'c', 'd', 'd', 'd'])

{'a': 1, 'b': 2, 'c': 1, 'd': 3}