<a href="https://colab.research.google.com/github/JoMihye/Python/blob/main/python08_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list와 for 반복문

In [ ]:
numbers = [1, 10, 100, 1000]
# list의 값들을 순회(반복, iteration)
for x in numbers:
    print(x)

1
10
100
1000

In [ ]:
# list의 index와 값들을 함께 순회(iteration)
for index, value in enumerate(numbers):
    print(index, ':', value)

0 : 1
1 : 10
2 : 100
3 : 1000

*  빈 리스트(empty list)를 만듦.
*  리스트에서 정수 난수 10개를 저장.
*  리스트에서 짝수들로만 이루어진 새로운 리스트를 만듦.
*  리스트에서 홀수들로만 이루어진 새로운 리스트를 만듦.

In [ ]:
import random  # 난수를 사용하기 위한 모듈

In [ ]:
numbers = []  # empty list
for _ in range(10):  # 10번 반복하면서
    # 0 이상 100 미만의 정수 난수를 리스트 numbers의 가장 마지막에 추가.
    numbers.append(random.randrange(100))
print(numbers)

[8, 87, 3, 33, 35, 89, 88, 23, 76, 50]

In [ ]:
evens = []  # 짝수들만 저장할 리스트
odds = []  # 홀수들만 저장할 리스트
for x in numbers:  # 리스트 numbers의 원소들을 순회(iteration)
    if x % 2 == 0:  # 리스트에서 꺼낸 원소가 짝수이면
        evens.append(x)
    else:
        odds.append(x)

print(evens)
print(odds)

[8, 88, 76, 50]
[87, 3, 33, 35, 89, 23]

*  integers 이름의 빈 리스트를 만듦.
*  리스트 integers에 -10 이상 10 이하의 정수 난수 10개를 저장.
*  positives 이름의 빈 리스트를 만듦.
*  positives에는 integers의 원소가 양수이면 True, 그렇지 않으면 False를 저장.
*  positives를 출력.

In [ ]:
integers = []
for x in range(10):
    integers.append(random.randrange(-10, 11))
print(integers)
positives = []
for x in integers:
    if x > 0:
        positives.append(True)  # 'True' 문자열
    else:
        positives.append(False)
print(positives)

[3, -8, 1, 9, -9, -5, -2, 4, -8, 4]
[True, False, True, True, False, False, False, True, False, True]

*  gender_codes 이름의 빈 리스트 만듦.
*  gender_codes에 0 또는 1을 무작위로(랜덤하게) 10개를 저장.
*  gender 이름의 빈 리스트를 만듦.
*  gender에는 gender_codes의 값이 0이면 'Male', 1이면 'Female'을 저장.
*  gender를 출력.

In [ ]:
gender_codes = []
for x in range(10):
    gender_codes.append(random.randrange(2))
print(gender_codes)

gender = []
for x in gender_codes:
    if x == 0:
        gender.append('Male')
    else:
        gender.append('Female')
print(gender)

[0, 1, 0, 0, 0, 0, 0, 1, 1, 0]
['Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male']

# list comprehension(리스트 내포)

*  빈 리스트에 1부터 10까지 정수를 오름차순 순서로 저장.

In [ ]:
numbers = []
for x in range(1, 11):
    numbers.append(x)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers2 = [x for x in range(1, 11)]
print(numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

*  `[1, 4, 9, 16, ..., 81, 100]`: 1~10 정수들의 제곱으로 이루어진 리스트

In [ ]:
squares = []
for x in range(1, 11):
    squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares2 = [x**2 for x in range(1, 11)]
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

*  numbers 이름의 리스트에 [0, 100) 범위의 난수 10개를 저장

In [ ]:
numbers = [random.randrange(100) for x in range(10)]
print(numbers)

[26, 26, 20, 33, 67, 66, 37, 14, 80, 69]

*  numbers에 저장된 숫자들 중에서 짝수들로만 이루어진 리스트

In [ ]:
evens = [x for x in numbers if x % 2 == 0]
print(evens)

[26, 26, 20, 66, 14, 80]

In [ ]:
# 문자열들의 리스트
fruits = ['apple', 'banana', 'cherry', 'durian', 'watermelon']
# 문자열의 길이를 저장하는 리스트
fruit_lengths = [len(x) for x in fruits]
print(fruit_lengths)

[5, 6, 6, 6, 10]

*  [0, 100) 범위의 정수 난수 10개를 갖는 리스트를 만듦.
*  리스트의 원소가 짝수이면 'even', 홀수이면 'odd'를 갖는 리스트를 만듦.

In [ ]:
# if-else expression(표현식)
n = 1
is_even = 'even' if n % 2 == 0 else 'odd'
print(is_even)

odd

In [ ]:
n = 2
if n % 2 == 0:
    is_even = 'even'
else:
    is_even = 'odd'
print(is_even)

even

In [ ]:
numbers = [random.randrange(100) for _ in range(10)]
print(numbers)

[5, 19, 25, 22, 32, 35, 61, 86, 85, 4]

In [ ]:
result = ['even' if x % 2 == 0 else 'odd' for x in numbers]
print(result)

['odd', 'odd', 'odd', 'even', 'even', 'odd', 'odd', 'even', 'odd', 'even']

*  0과 1이 랜덤하게 10개 저장된 리스트 만듦.
*  0이면 'Male', 1이면 'Female'을 저장하는 리스트를 만듦.

In [ ]:
gender_codes = [random.randrange(2) for _ in range(10)]
print(gender_codes)

[0, 1, 1, 1, 0, 1, 0, 1, 1, 0]

In [ ]:
gender = ['Male' if x == 0 else 'Female' for x in gender_codes]
print(gender)

['Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male']

*  numbers1: 10 미만의 0 또는 양의 정수 10개를 저장하고 있는 리스트.
*  numbers2: 10 미만의 0 또는 양의 정수 10개를 저장하고 있는 리스트.
*  adds: numbers1과 numbers2의 같은 인덱스에 있는 원소들끼리의 합을 저장하는 리스트.

In [ ]:
numbers1 = [random.randrange(10) for _ in range(10)]
print(numbers1)

numbers = [random.randrange(10) for _ in range(10)]
print(numbers2)

# adds = []
# for i in range(10):
#     adds.append(numbers1[i] + numbers2[i])
adds = [numbers1[i] + numbers2[i] for i in range(10)]
    
print(adds)

[9, 3, 1, 9, 3, 1, 9, 4, 4, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 5, 4, 13, 8, 7, 16, 12, 13, 19]

In [ ]:
print(numbers1)
print(numbers2)
for x, y in zip(numbers1, numbers2):
    print(x, y)

[9, 3, 1, 9, 3, 1, 9, 4, 4, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
9 1
3 2
1 3
9 4
3 5
1 6
9 7
4 8
4 9
9 10

In [ ]:
adds = []
for x, y in zip(numbers1, numbers2):
    adds.append(x + y)

print(adds)

[10, 5, 4, 13, 8, 7, 16, 12, 13, 19]

In [ ]:
adds = [x + y for x, y in zip(numbers1, numbers2)]
print(adds)

# 다차원 리스트

In [ ]:
# 2차원 리스트: 1차원 리스트들을 원소로 갖는 리스트.
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 2차원 리스트의 indexing

In [ ]:
matrix[0]

[1, 2, 3]

In [ ]:
matrix[0][0]

1

## 2차원 리스트에서 for 반복문

In [ ]:
for row in matrix:
    for x in row:
        print(x, end = '\t')
    print()

1	2	3
4	5	6
7	8	9

In [ ]:
m1 = [[1, 2, 3],
      [4, 5, 6]]
m2 = [[1, 1, 1],
      [2, 2, 2]]
print(m1)
print(m2)

[[1, 2, 3], [4, 5, 6]]
[[1, 1, 1], [2, 2, 2]]

In [ ]:
adds = []  # 리스트들을 저장하기 위한 빈 리스트
for row1, row2 in zip(m1, m2):
    plus = []  # 1차원 리스트 row1과 row2에서 같은 인덱스에 있는 원소들끼리 더한 값을 저장할 리스트.
    for x, y in zip(row1, row2):
        plus.append(x + y)
    adds.append(plus)

print(adds)

[[2, 3, 4], [6, 7, 8]]

In [ ]:
adds = []
for row1, row2 in zip(m1, m2):
    plus = [x + y for x, y in zip(row1, row2)]
    adds.append(plus)

print(adds)

[[2, 3, 4], [6, 7, 8]]

In [ ]:
adds = [[x + y for x, y in zip(row1, row2)]
        for row1, row2 in zip(m1, m2)]

print(adds)

[[2, 3, 4], [6, 7, 8]]