<a href="https://colab.research.google.com/github/JoMihye/Python/blob/main/python14_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

함수(function)는 객체(object)이다.

*  함수는 변수에 할당(저장)할 수 있음.
*  함수의 argument로 다른 함수를 전달할 수 있음.

In [ ]:
# 숫자는 객체(object)다. --> 숫자는 변수에 저장
x = 1

In [ ]:
print(x)  # --> 숫자는 함수의 argument로 전달할 수 있음.

1

In [ ]:
# 함수 정의
def twice(x):
    return 2 * x

In [ ]:
twice  # 함수 호출 아님! twice 라는 이름의 객체를 콘솔창에 출력.

In [ ]:
twice(2)  # 함수 호출.

4

In [ ]:
result = twice(3)  # 함수 twice()의 호출 결과를 변수 result에 저장.
result

6

In [ ]:
double = twice  # 함수 twice를 변수 double에 저장.
double

In [ ]:
double(3)  # 변수 double은 함수이므로 호출할 수 있음.

6

In [ ]:
def calculate(x, y, fn):
    """ fn(x, y)의 결과를 리턴.

    @param x: 숫자.
    @param y: 숫자.
    @param fn: 함수.
    """
    result = fn(x, y)
    return result

In [ ]:
def plus(x, y):
    return x + y

In [ ]:
calculate(1, 2, plus)
#> calculate 함수를 호출할 때 파라미터 fn에 plus 함수를 argument로 전달.

3

In [ ]:
def minus(x, y):
    return x- y

In [ ]:
calculate(1, 2, minus)

-1

# 람다 표현식(Lambda expression)

```
lambda param1, param2, ...:
```

*  이름이 없는 함수.
*  함수 이름을 만들지 않고, 함수의 파라미터 선언과 함수의 반환 값(식)만으로 함수를 정의하는 방법.
*  간단하게 정의할 수 있는 함수를 변수(파라미터)에 저장하기 위한 용도.

In [ ]:
plus_one = lambda x: x + 1  # argument로 x를 전달받아서 x+1을 리턴하는 함수.

In [ ]:
plus_one(1)

2

In [ ]:
plus = lambda x, y: x + y  # argument로 x, y를 전달받아서 x + y를 리턴하는 함수.

In [ ]:
plus(1, 2)

3

In [ ]:
# 람다 표현식은 argument로 다른 함수에 전달할 수 있음.
calculate(1, 2, lambda x, y: x + y)

3

In [ ]:
calculate(1, 2, lambda x, y: x - y)

-1

## lambda 식을 argument로 전달받는 함수의 예

*  filtering: 전체 데이터에서 조건을 만족하는 데이터만 선택.

In [ ]:
numbers = [1, -2, -3, 4, 5, -6]

In [ ]:
# numbers 리스트에서 양수들로만 이루어진 리스트 --> filtering
result = filter(lambda x: x > 0, numbers)
list(result)  # filtering된 결과를 list로 만듦.

[1, 4, 5]

In [ ]:
# number 리스트에서 짝수들로만 이루어진 리스트 --> filtering
result = filter(lambda x: x % 2 == 0, numbers)
list(result)

[-2, 4, -6]

*  mapping: 'Male' --> 0, 'Female' -->1

In [ ]:
gender = ['Female', 'Male', 'Male', 'Female']

In [ ]:
result = map(lambda x: 0 if x == 'Male' else 1, gender)
tuple(result)

(1, 0, 0, 1)

*   [0, 100) 범위의 정수 10개를 저장하고 있는 리스트에서, 원소가 짝수이면 'even', 홀수이면 'odd'를 갖는 새로운 리스트를 매핑

```
[10, 55, 90, ...] --> ['even', 'odd', 'even', ...]
```

In [ ]:
import random

In [ ]:
numbers = [random.randrange(100) for _ in range(10)]
numbers

[83, 62, 19, 51, 23, 44, 52, 80, 0, 33]

In [ ]:
result = map(lambda x: 'even' if x % 2 ==0 else 'odd', numbers)
list(result)

['odd', 'even', 'odd', 'odd', 'odd', 'even', 'even', 'even', 'even', 'odd']

In [ ]:
# if-else 표현식에서 elif
# 0 ~ 19: teen, 20 ~ 59: adult, 60 ~ : senior
age = 70
category = 'teen' if age < 20 else ('adult' if age < 60 else 'senior')
print(category)

senior

In [ ]:
age = [random.randrange(100) for _ in range(10)]
age

[34, 13, 76, 18, 8, 97, 82, 92, 40, 33]

In [ ]:
result = map(lambda x: 'teen' if x < 20 else ('adult' if x < 60 else 'senior'),
             age)
list(result)

['adult',
 'teen',
 'senior',
 'teen',
 'teen',
 'senior',
 'senior',
 'senior',
 'adult',
 'adult']

### filtering 구현

In [ ]:
def my_filter(iterable, fn):
    """iterable의 원소들 중에서 함수 fn의 결과가 True가 되는 원소들로 이루어진 리스트를 리턴.

    @param iterable: list, tuple.
    @param fn: argument가 1개이고 True 또는 False를 리턴하는 함수.
    @return: list. [x1, x2, ...]
    """
    
    # result = []  # 필터링된 결과들을 저장할 빈 리스트.
    # for x in iterable:  # iterable에서 원소를 하나씩 꺼내면서 반복
    #     if fn(x):  # 함수 fn()의 리턴값이 True이면
    #         result.append(x)  # 필터링 결과 리스트에 추가.
    result = [x for x in iterable if fn(x)]

    return result

In [ ]:
numbers = [random.randrange(100) for _ in range(10)]
print(numbers)

result = my_filter(numbers, lambda x: x % 2 == 0)  # 숫자들 중에서 짝수만 필터링
print(result)

[21, 14, 75, 25, 44, 1, 42, 16, 47, 69]
[14, 44, 42, 16]

In [ ]:
age = [random.randrange(100) for _ in range(10)]
print(age)

# age의 원소들 중에서 미성년자(20세 미만)인 데이터들만 필터링
result = my_filter(age, lambda x: x < 20)
print(result)

[17, 80, 98, 94, 23, 2, 62, 69, 67, 49]
[17, 2]

### mapping 구현

In [ ]:
def my_mapper1(iterable, fn):
    """iterable의 원소를 함수 fn의 argument로 전달했을 때 그 리턴값들로 이루어진 리스트를 리턴.

    @param iterable: list, tuple.
    @param fn: argument가 1개이고 리턴값을 갖는 함수.
    @return: list. [fn(x1), fn(x2), ...].
    """
    
    # result = []  # 함수 fn()의 리턴값들을 저장할 빈 리스트.
    # for x in iterable:  # iterable의 원소들을 하나씩 꺼내서 반복하면서
    #     result.append(fn(x))  # 원소 x를 함수 fn()에 전달했을 때 리턴값을 리스트에 추가.
    result = [fn(x) for x in iterable]

    return result

In [ ]:
# my_mapper1() 테스트 코드
gender = ['Female', 'Female', 'Male', 'Female', 'Male']

# 'Female' --> 1, 'Male' --> 0
result = my_mapper1(gender, lambda x: 0 if x == 'Male' else 1)
print(result)

[1, 1, 0, 1, 0]

In [ ]:
# 문자열들의 리스트를 그 문자열의 길이를 갖는 리스트에 mapping
# ['abc', 'apple', '안녕하세요!'] --> [3, 5, 6]
words = ['abc', 'apple', '안녕하세요!', 'Hello, python.']
result = my_mapper1(words, lambda x: len(x))
print(result)

[3, 5, 6, 14]

In [ ]:
def my_mapper2(iterable, fn):
    """iterable의 원소를 key로 하고, 그 원소를 함수 fn에 전달했을 때의 리턴값을 value로 하는 dict를 리턴.

    @param iterable: list, tuple.
    @param fn: argument는 1개이고 리턴값이 있는 함수.
    @return: dict. {x1: fn(x1), x2: fn(x2), ...}
    """
    
    # result = {}  # key:value를 저장할 빈 리스트
    # for x in iterable:  # iterable에서 원소들을 하나씩 꺼내면서 반복
    #     result[x] = fn(x)  # 그 원소 x를 key로 하고, 함수 fn()의 리턴값을 value로 해서 추가.
    result = {x: fn(x) for x in iterable}

    return result

In [ ]:
# my_mapper2() 테스트 코드
packages = ['NumPy', 'pandas', 'matplotlib', 'seaborn', 'keras', 'tensorflow']
result = my_mapper2(packages, lambda x: len(x))
print(result)

{'NumPy': 5, 'pandas': 6, 'matplotlib': 10, 'seaborn': 7, 'keras': 5, 'tensorflow': 10}

In [ ]:
# [0, 100) 범위의 정수 난수 10개를 저장.
age = [random.randrange(100) for _ in range(10)]
print(age)

# 20 미만인 경우 'A', 60 미만인 경우 'B', 60 이상인 경우 'C'를 매핑한 dict.
result = my_mapper2(age,
                    lambda x: 'A' if x < 20 else ('B' if x < 60 else 'C'))
print(result)

[54, 80, 95, 76, 52, 51, 19, 18, 48, 41]
{54: 'B', 80: 'C', 95: 'C', 76: 'C', 52: 'B', 51: 'B', 19: 'A', 18: 'A', 48: 'B', 41: 'B'}